.custom-navbar-color{
    background-image: linear-gradient(#044E3B, #27CA9E) !important;
}

.footer-color{
    background-color: #B4DDD2;
}

body{
    overflow-x: hidden;
    padding-top: 60px;
    font-family: outfit;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

html{
    scroll-behavior: smooth;
}