body{
    background-color: whitesmoke;
}
h2{
    display: flex;
    padding: 2rem 3rem 1rem 3rem;
    font-weight: bolder;
    justify-content: center;
}
.container-berita{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 2em;
    row-gap: 3em;
}
.card{
    width: min(400px, 90%);
    align-self: flex-start;
    box-shadow: 3px 5px 5px 2px #00000050;
    border: solid 0.1px rgb(0, 0, 0, 0.5);
    border-radius: 1.1em;
}
.card img{
    border-radius: 1em;
    cursor: pointer;
    transition: .3s ease-in-out ;
}
.card img:hover  {
    opacity: 0.75;
}
.card h6{margin: 1.5rem 2rem 0 2rem;  color: rgb(42, 40, 40); font-weight: bold;}
.card h6:hover{
    text-decoration: underline black;
}
.card p{margin: 0.2rem 2rem 0 2rem; color: rgba(57, 54, 54, 0.9); font-size: 14px;}
#readmore{
    color: rgb(101, 206, 255);
    margin: 0.5rem 2rem 0.5rem 2rem;
    cursor: pointer;
    font-size: 13px;
}
img#jam{
    transition: none;
    cursor: default;
    opacity: 1;
    margin-right: 0.5em;
    height: 20px;
}
.tanggal{
    margin: 0 2rem 1rem 2rem;
    display: flex;
    justify-items: center;
    align-items: center;
    height: 20px;
}
.tanggal p{
    margin: 0;
    font-size: 12px;
    color: rgba(57, 54, 54, 0.7);
}

/*isi berita*/
#berita-artikel{
    background-color: whitesmoke;
}
.container-artikel{
    display: flex;
    flex-direction: column;
    border: gray 2px solid;
    border-radius: 20px;
    justify-content: center;
    padding: min(4em, 7%);
    margin: 7vw min(10em, 13%);
    background-color: white;
    box-shadow: 12px 12px 15px 8px #00000050;
}
#konten{
    align-self: center;
    display: flex;
    flex-direction: column;
}
#judul-jam-tanggal{
    width: fit-content;
    align-self: flex-start;

}
h2#judul-berita{
    font-weight: 500;
    font-size: min(1.5rem, 3vw);
    margin: 0;
    padding: 0;
}
#tanggal-jam{
    display: flex;
    align-items: center;
    height: 2em;
}
img#jamm{
    height: auto;
    width: min(1.2em, 4.5%);
    margin-right: 1%;
}
p#tanggal-berita{
    margin: 0;
    font-size: min(1.8vw, 0.8em);
}
img#gambar-berita{
    height: auto;
    width: 90%;
    align-self: center;
    border-radius: 2em;
}
p#artikel{
    font-size: min(1.9vw, 1rem);
    margin: 0;
    color: #666666;
    line-height: min(1.2rem, 2.5vw);
    margin-bottom: 1rem;
}
#tanggal-jam, img#gambar-berita {
    margin-bottom: 1.75em;
}