.section-wrapper {
    margin-top: -130px;      
    background-color: #0E9C7B;     
    color: white;
    padding: 60px 55px;             
    border-radius: 35px;       
    width: 90%;                 
    max-width: 1150px;         
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
    box-shadow: 0px -8px 25px rgba(0,0,0,0.25); 
}

.section-wrapper h2 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 25px;
    text-align: center;
}

.section-wrapper p,
.section-wrapper li {
    font-size: 17px;
    line-height: 1.65;
    color: white;
}

.section-wrapper ul {
    margin-left: 15px;
}

.carousel-inner img {
    width: 100%;
    height: 650px;
    object-fit: cover;
}

.carousel-container {
    padding: 0;
    margin-bottom: 60px;
}

.carousel-title {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    color: rgba(255, 255, 255, 0.7);
    font-size: 40px;
    font-weight: 800;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(255,255,255,0.9);
    border-radius: 50%;
    padding: 20px;
}


@media (max-width: 992px) {
    .carousel-inner img {
        height: 450px;
    }

    .carousel-title {
        top: 65px;
        font-size: 32px;
    }

    .section-wrapper {
        margin-top: -100px;
        padding: 40px 35px;
    }

    .section-wrapper p,
    .section-wrapper li {
        font-size: 16px;
    }

    .section-wrapper h2 {
        font-size: 26px;
    }
}

@media (max-width: 768px) {

    .carousel-inner img {
        height: 350px;
    }

    .carousel-title {
        top: 55px;
        font-size: 28px;
    }

    .section-wrapper {
        margin-top: -80px;
        padding: 35px 25px;
        border-radius: 25px;
    }
}

@media (max-width: 576px) {

    .carousel-inner img {
        height: 280px;
    }

    .carousel-title {
        top: 45px;
        font-size: 22px;
    }

    .section-wrapper {
        margin-top: -60px;
        padding: 30px 20px;
        border-radius: 20px;
    }

    .section-wrapper p,
    .section-wrapper li {
        font-size: 15px;
        line-height: 1.5;
    }

    .section-wrapper h2 {
        font-size: 22px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        padding: 14px;
    }
}

