.layanan{
    position: relative;
}

.bungkus-sego{
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
    align-items: center;
}

.bungkus-sego svg{
    width: 100%;
    display: block;
    z-index: 1;
}

.text-{
    position: relative;
    z-index: 5;
    margin-top: -40%;
}

.text- h1{
    font-weight: 700;
    color: white;
    margin-bottom: 5px;
}

.text- p{
    font-size: 1.2em;
    font-weight: 400;
    color: white;
    line-height: 1;
    margin-bottom: 100px;
}

.bungkus-lawuh{
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}
 
.lawuh{
    width: 290px;
    height: 390px;
    background-color: #1BC79A;
    border-radius: 22px;
    text-align: center;
    text-decoration: none;
    box-shadow: 4px 6px 15px 2px rgba(0, 0, 0, 0.5);
}

.imag{
    width: 300px;
    height: 300px;
}

.tek{
    font-weight: 700;
    margin-top: -50px;
    color: white;
    font-size: 1.2em;
    line-height: 1;
}

.lawuh:hover{
    background-image: linear-gradient(#1BC79A, #0D614B);
}

@media (max-width: 576px){
    .bungkus-lawuh{
        flex-direction: column;
        align-items: center;
    }
    .lawuh{
        width: 70%;
    }
    .bungkus-sego svg{

    }
}