.service-listing {
    display: none;
}
.service-listing.active {
    display: block;
}
.submenu-group {
    display: none;
    padding-left: 20px;
}
.submenu-group .filter-btn{
    display: block;
    padding: 8px 15px;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
    height: auto;
}
.submenu-group.visible {
    display: block;
}

/*wrapper utama*/

.bungkus-layanan{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

/*wrapper navigasi layanan*/
.navigasi-layanan{
    width: 250px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/*btn navigasi*/


.filter-btn{
    color: white;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background-color: #1BC79A;
    text-decoration: none;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
}

/*wrapper list layanan*/
.services-container{
    width: 900px;
    height: 500px;
    border-radius: 33px;
    background-image: linear-gradient(to left, #02906B, #04B98B);
}

.services-container h2{
    margin-top: 40px;
    margin-left: 25px;
    color: white;
}